html {
  background: url("/static/neo_app/space.jpg") 100% 0 no-repeat fixed;
}

.my-bg-image_search {
  background: url("/static/neo_app/asteroid.jpg") 100% 0 no-repeat fixed;
}
.my-bg-image_result {
  background: url("/static/neo_app/telescopic.jpg") 100% 0 no-repeat fixed;
}
.my-bg-image_detail {
  background: url("/static/neo_app/detail.jpg") 100% 0 no-repeat fixed;
}

.my-search-block {
  position: absolute;
  top: 100px; 
  left: 25%;
}

.my-result-block {
  position: absolute;
  top: 70px;
  left: 15%;
}

.my-detail-block {
  position: absolute;
  top: 70px;
left:15%;
}
