{% extends "neo_app/base.html" %} 
{% load static %}
{% block content %}
  <div class="">
    <div>
      <img src="{% static 'neo_app/home.jpg' %}" class="img-fluid vh-100 vw-100" alt="space view">
    <div>

    <div class="position-absolute bottom-50 end-50 text-white-50 m-5">
      <h1 class="fw-bolder fs-1 text-uppercase">Welcome</h1>
      <h1 class="">to the NASA NEO <span class="text-info-emphasis">tracker portal.</span></h1>
      <div class="mt-5">
        <a class="btn btn-outline-info btn-lg" role="button" href="neo_search">Search for NEO</a>
        <a class="btn btn-outline-info btn-lg" role="button" href="apod_search">Picture of the day</a>
      </div>
    </div>
    
  </div>
  
{% endblock %}
