{% extends 'neo_app/base.html' %}

{% block content %} 
  {% csrf_token %}
    <form action="neo_result">
      <input type="date" name="start_date" value="2023-01-01">
      <select name="day_coverage">
        <option value="1" selected>One day</option>
        <option value="2">Two days</option>
        <option value="3">Three days</option>
        <option value="4">Four ays</option>
        <option value="5">Five days</option>
        <option value="6">Six days</option>
        <option value="7">Seven days</option>
      </select>
       <input type="submit" value="Submit">
    </form>
{% endblock %}

