{% comment %} <form action="neo_result" method="POST"> {% endcomment %}
  
  {% comment %} <label for="Start_at">Avant</label>
  <input id="Start_at" type="number" name="Start_at" value="{{ current_start_number }}">
  
  <label for="End_at">Apres</label>
  <input id="End_at" type="number" name="End_at" value="{{ current_end_number }}"> {% endcomment %}
  
  
  {% comment %} {{ form }} {% endcomment %}
  {% csrf_token %}
  <form action="neo_result" >
    <select name="start_date">
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
    </select>
    <br>
     <select name="end_date">
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
    </select>
    <br>
     <input type="submit" value="Submit">
</form>

